<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <h5 class="card-title m-3 fw-bold">Logg inn</h5>
                <div class="card-body">
                    <form class="form">
                        <div class="mb-3">
                            <label class="form-label" for="brukernavn">Brukernavn</label>
                            <input [(ngModel)]="innBrukernavn" class="form-control" type="text" name="innBrukernavn" id="brukernavn" autofocus >
                            <span id="feilBrukernavn" style="color: red">{{feilBrukernavn}}</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="passord">Passord</label>
                            <input [(ngModel)]="innPassord" class="form-control" type="password" name="innPassord" id="passord">
                            <span id="feilPassord" style="color: red">{{feilPassord}}</span>
                        </div>
                        <div class="d-grid gap-2">
                            <input type="button" value="Logg inn" class="btn btn-success d-btn-block" (click)="loggInn()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>