<div class="container">
    <h1>Kjøp og selg aksjer</h1>
    <div class="row" >
        <div class="col-lg-4 col-md-12" *ngFor="let aksje of alleAksjer">
            <div class="card mt-4 col-md-6 mw-100">
                <div class=" card-body" ....>
                    <div class="d-flex align-items-baseline gap-2">
                        <i class="ri-apple-fill"></i>
                        <h4 class="card-title">{{aksje.aksjenavn}}</h4>
                    </div>
                    <p class="card-text text-muted showDateClass">Oppdatert</p>
                    <h3>USD {{aksje.pris}}</h3>
                    <div id="kjop-selg-knapper-i-tabellfelt">
                        <handle-modal></handle-modal>
                        <selg-modal></selg-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>