<div class="container">
    <h1 id="tableLabel">Ordreliste</h1>

    <br/>

    <p>
        Under finner du en liste over alle kjøp og salg av aksjer som er blitt gjort med denne kontoen.
        Ønsker du å kjøpe flere aksjer kan du navigere til "Aksjer"-siden ved hjelp av navigasjonsmenyen på toppen.
    </p>

    <br/>

    <p *ngIf="!alleOrdre"><em>Laster inn...</em></p>

    <table class='table table-light table-striped table-hover' aria-labelledby="tableLabel" *ngIf="alleOrdre">
        <thead>
        <tr>
            <th>Aksjenavn</th>
            <th>Type</th>
            <th>Antall</th>
            <th>Totalpris</th>
            <th>Børs</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ordre of alleOrdre">
            <td>{{ ordre.aksje.aksjenavn }}</td>
            <td>{{ ordre.type }}</td>
            <td>{{ ordre.antall }}</td>
            <td>{{ ordre.pris }}</td>
            <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'a/a4/Flag_of_the_United_States.svg'" class="me-2" style="width: 20px" alt="flagg"/>
                {{ ordre.aksje.bors }}
            </td>
        </tr>
        </tbody>
    </table>
</div>