<div class="container">
    <h1 id="tableLabel">Ordreliste</h1>

    <br/>

    <p>Under finner du en liste over alle kjøp og salg av aksjer som er blitt gjort med denne kontoen. Listen er sortert
        i synkende rekkefølge, med den nyligste ordren øverst og den eldste ordren nederst.</p>

    <p>Ønsker du å kjøpe flere aksjer kan du navigere til "Aksjer"-siden ved hjelp av navigasjonsmenyen på toppen.</p>

    <br/>

    <p *ngIf="!alleOrdreTilEnBruker"><em>Laster inn...</em></p>

    <table class='table table-light table-striped table-hover' aria-labelledby="tableLabel" *ngIf="alleOrdreTilEnBruker">
        <thead>
        <tr>
            <th>Aksjenavn</th>
            <th>Ticker</th>
            <th>Pris</th>
            <th>Børs</th>
            <th>Kjøp/Selg</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ordre of alleOrdreTilEnBruker">
            <td>{{ ordre.aksjenavn }}</td>
            <td>{{ ordre.aksjenavn }}</td>
            <td>{{ ordre.antallAksjerKjoptEllerSolgt }}</td>
            <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'a/a4/Flag_of_the_United_States.svg'" class="me-2" style="width: 20px" alt="flagg"/>
                {{ ordre.boers }}
            </td>
            <td>ledig felt</td>
        </tr>
        </tbody>
    </table>

    <!-- putt inn: landets.flagg eller liknende der andre del av lenken nå står -->
</div>