<div class="container">
    <h1 id="tableLabel">Mine Aksjer</h1>
    
        <div class="row" >
            <div class="col-lg-6 col-md-12">
                <div class="card mt-4 col-md-6 mw-100">
                    <div class=" card-body">
                        <div class="d-flex align-items-baseline gap-2">
                            <h4 class="card-title">Verdi på beholdningen</h4>
                        </div>
                        <div class="d-flex align-items-baseline gap-2">
                            <h2 class="card-title">NOK 3.000.000</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card mt-4 col-md-6 mw-100">
                    <div class=" card-body">
                        <div id="diagram">
                            <diagram></diagram>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    <br/>

    <p *ngIf="!alleAksjer"><em>Laster inn...</em></p>

    <table class='table table-light table-striped table-hover' aria-labelledby="tableLabel" *ngIf="alleAksjer">
        <thead>
        <tr>
            <th>Navn</th>
            <th>Ant.</th>
            <th>Kostpris</th>
            <th>Verdi</th>
            <th>Profitt</th>
            <th>Børs</th>
            <th>Kjøp/Selg</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aksje of alleAksjer">
            <td>{{ aksje.aksjenavn }}</td>
            <td>{{ aksje.antall }}</td>
            <td>{{ aksje.pris }}</td>
            <td>{{ aksje.pris }}</td>
            <td>{{ aksje.pris }}</td>
            <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'a/a4/Flag_of_the_United_States.svg'" class="me-2" style="width: 20px" alt="flagg"/>
                {{ aksje.fornavn }}
            </td>
            <td id="kjop-selg-knapper-i-tabellfelt">
                <handle-modal class="kjop-selg-knapper"></handle-modal>
                <selg-modal class="kjop-selg-knapper"></selg-modal>
            </td>
        </tr>
        </tbody>
    </table>
</div>